:root {
    --primary-color: #49865d;
    --secondary-color: #424239;
    --tertiary-color: #bad1bd;
    --background-color: white;
    --right-padding: 35px;
    --left-padding: 50px:

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Section */

header {
    padding: 20px var(--right-padding) 20px 0px;
    background: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;  
}

header h1 {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    width:15em;
    color: var(--secondary-color);
    background:var(--primary-color);
}

header h1 a{
    text-decoration: none;
    font-size: 2.5vw;
}

header h1 a:visited{
    color: var(--secondary-color);
    text-decoration: none;
}

/*Navagation*/

header nav{
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--primary-color)
}

  header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}  

  header nav ul li a:visited{
      color: var(--primary-color);
}

  header nav ul li a:hover{
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;  
  }

 /* Hero */
 .hero{
    padding-bottom: 50px;
    padding-right: var(--right-padding);
    display: flex;
    justify-content: right;
    align-items: flex-end;
    background-image: url(../images/LowCountry.jpg); 
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    z-index: 9999;
    } 

 .hero p{
    display: flex;
    width: fit-content;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 2.25vw;
    }

 /* Main Section */

 .MainContent{
     background: var(--background-color);
 }
 
.info{
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    } 

.info h3{
    font-size: 3vw;
    flex: 1 30%;
    border-right: 5px solid var(--primary-color);
    text-align-last: right;
}

.info-content{
    flex: 2, 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info-text{
    flex: 12;
}

.info-content header{
    background-color: var(--background-color);
    padding-top: 50%;
    font-size: 1.5vw;
}

.info.content h2{
    font-size: 1vw;
}

.info-content img{
    width: 100%;
    border: 5px, solid, black;
}

.info-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: underline;
    color: var(--primary-color);
}

.info-content ul li a{
    text-decoration: none;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}  
  
.info-content ul li a:visited{
      color: var(--primary-color);
}

.info-content ul li a:hover{
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;  
  }

